html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select {
	font-family: Tahoma;
	font-size: 12px;
	margin: 0;
	text-decoration: none;
}

body{
	/*background-color: #e9ebee;*/
	background:  url('../img/background.jpg');
	background-size:  100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.container{
	background-color: #ffffff;
}

.m-navbar .nav>li>a{
	padding: 16px 10px;
}

.m-navbar{
	z-index: 9;
	background-color: #365899;
	color: #ffffff;
	margin-bottom: 0px;
}

.breadcrumb{
	margin-left: -15px;
	margin-right: -15px;
}

.m-navbar a{
	color: #ffffff;
	font-size: 13px;
}

.navbar-brand{
	color: #ffffff !important;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff !important;
}

.product-list{
	border-bottom: solid 1px #365899;
	padding: 5px 0px;
	margin: 0px;
}

.product-list:last-child{
	border-bottom: none;
}

.product-list div{
	margin: 0px;
}

.product-list .product-thumb{
	max-width: 120px;
	width: auto;
	margin: 0px;
	padding: 0px;
}

.product-list .product-content{
	margin-top: 5px;
	margin-left: 7px;
}

.product-list .product-title{
	font-size: 13px;
	text-transform: uppercase;
	margin-left: 7px;
	color: #365899;
	font-weight: bold;
}

.panel-title{
	font-size: 16px;
	color: #365899;
	font-weight: bold;
}

.product-title{
	font-size: 16px;
	margin-left: 7px;
	color: #365899;
	font-weight: bold;
	margin-bottom: 20px;
}

.product-panel{
	border: solid 1px #365899;
}

.search-panel{
	background: #E4E4E4;
	line-height: 26px;
	padding: 10px;
	text-align: center;
}

.search-panel select{
	width: 70%;
	font-size: 13px;
}

.category-panel{
	border: solid 1px #ccc;
	margin-bottom: 10px;
	background: #f9f7f7;
	line-height: 20px;
	border-radius: 6px;
}

.header{
	margin-left: -15px;
	margin-right: -15px;
}

.bold{
	font-weight: bold;
}

.color{
	color: #365899;
}

a:focus, a{
	color: #365899;
}

.product-list .price-info{
	margin-top: 5px;
}

.margin-left-10{
	margin-left: 10px;
}

.no-padding{
	padding: 0px !important;
}

.no-margin{
	margin: 0px !important;
}

.no-margin-right{
	margin-right: 0px !important;
}
.no-padding-right{
	padding-right: 0px !important;
}

.header-logo{
	height: 70px;
}

.affix{
	top: 0px;
	width: 100%;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.clear-both{
	clear: both;
}

.product-assets{
}

.product-detail{
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer{
	margin-top: 20px !important;
	border-top: solid 1px #eee;
	padding-top: 20px;
}

.footer ul{
	text-align: left;
	padding-left: 0px;
	line-height: 18px;
	margin-bottom: 15px;
}

.footer ul li{
	list-style-type: none;
}

.footer .catTitle{
	text-align: left;
	font-weight: bold;
	margin-bottom:5px;
}

.header-logo > img{
	width: 115px;
	margin-left:25px;
}

.header-right{
	margin-right: 20px;
	margin-top: 5px;
	text-align: center;
}

.post-btn{
	margin-top: 10px;
}

.post-btn a{
	font-size: 18px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	font-weight: bold;
	text-decoration: underline;
}

.productBottom {
	position: absolute;
	width: 100%;
	bottom: -22px;
}

.product-brief{
	padding-bottom: 20px;
}

.pos-relative{
	position: relative;
}

@media (max-width: 767px) {
	.mobile-hide{ display: none !important; }
}


