html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select {
	font-family: Tahoma;
	font-size: 12px;
	margin: 0;
	text-decoration: none;
}

body{
	/*background-color: #e9ebee;*/
	background:  url('../img/background.jpg');
	background-size:  100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.container{
	background-color: #ffffff;
}

.m-navbar .nav>li>a{
	padding: 16px 10px;
}

.m-navbar{
	z-index: 9;
	background-color: #365899;
	color: #ffffff;
	margin-bottom: 0px;
}

.breadcrumb{
	margin-left: -15px;
	margin-right: -15px;
}

.m-navbar a{
	color: #ffffff;
	font-size: 13px;
}

.banner{
	/*background: url('../img/banner3.png');*/
	background-position-y: -39px;
	background-repeat: repeat-x;
}

.navbar-brand{
	color: #ffffff !important;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff !important;
}

.product-list{
	border: solid 1px #365899;
	padding: 5px 0px;
	margin: 0px;
	margin-bottom: 10px;
}

.product-list:last-child{
	border-bottom: none;
}

.product-list div{
	margin: 0px;
}

.product-list .product-thumb{
	max-width: 120px;
	width: auto;
	margin: 0px;
	padding: 0px;
}

.product-list .product-content{
	margin-top: 5px;
	margin-left: 7px;
}

.product-list .product-title{
	font-size: 13px;
	text-transform: uppercase;
	margin-left: 7px;
	color: #365899;
	font-weight: bold;
}

.panel-title{
	font-size: 16px;
	color: #365899;
	font-weight: bold;
	margin-bottom: 10px;
}

.product-title{
	font-size: 16px;
	margin-left: 7px;
	color: #365899;
	font-weight: bold;
	margin-bottom: 20px;
}

.product-panel{
	/*border: solid 1px #365899;*/
}

.search-panel{
	line-height: 35px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #e3e3e3;
}

.search-panel select{
	width: 80%;
	font-size: 13px;
	padding: 4px;
	border:solid 1px #ccc;
}

.category-panel{
	border: solid 1px #e3e3e3;
	margin-bottom: 10px;
	background: #f5f5f5;
	line-height: 20px;
	border-radius: 6px;
	padding: 5px;
}

.breadcrumb{
	margin-bottom: 15px !important;
}

.header{
	margin-left: -15px;
	margin-right: -15px;
}

.bold{
	font-weight: bold;
}

.color{
	color: #365899;
}

.fix-height-standard {
	height: 313px;
}

a:focus, a{
	color: #365899;
}

.h2title{
	margin-top: 10px;
	font-size: 16px;
	color: #365899;
	font-weight: bold;
}

.h2title hr{
	margin-top: 0px;
}

.product-list .price-info{
	margin-top: 5px;
}

.margin-left-10{
	margin-left: 10px;
}

.no-padding{
	padding: 0px !important;
}

.no-margin{
	margin: 0px !important;
}

.no-margin-right{
	margin-right: 0px !important;
}
.no-padding-right{
	padding-right: 0px !important;
}
.no-padding-left{
	padding-left: 0px !important;
}

.header-logo{
	height: 70px;
	background: #ffffff;
}

.affix{
	top: 0px;
	width: 100%;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.clear-both{
	clear: both;
}

.product-assets{
	margin-top: 10px;
}

.product-detail{
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer{
	margin-top: 20px !important;
	border-top: solid 1px #eee;
	padding-top: 20px;
}

.footer ul{
	text-align: left;
	padding-left: 0px;
	line-height: 18px;
	margin-bottom: 15px;
}

.footer ul li{
	list-style-type: none;
}

.footer .catTitle{
	text-align: left;
	font-weight: bold;
	margin-bottom:5px;
}

.header-logo > img{
	width: 115px;
	margin-left:25px;
}

.header-right{
	margin-right: 20px;
	margin-top: 5px;
	text-align: center;
}

.post-btn{
	margin-top: 10px;
}

.post-btn a{
	font-size: 18px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	font-weight: bold;
	text-decoration: underline;
}

.productBottom {
	position: absolute;
	width: 100%;
	bottom: -40px;
	background: #eff3fa;
	padding: 5px;
}

.productTop{
	width: 100%;
	background: #f7f6f6;/*#eff3fa;*/
	padding: 5px;
	margin-bottom: 5px !important;
}


.product-brief{
	padding-bottom: 20px;
}

.pos-relative{
	position: relative;
}

@media (max-width: 767px) {
	.mobile-hide{ display: none !important; }
}

.subscribe-panel input.btn.btn-sm,
input.btn.btn-sm:focus {
	outline: none;
	width: 70%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.subscribe-panel button.btn {
	width: 30%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.promise {
	color: #999;
}

#map {
	height: 400px;
	width: 100%;
}
.product-detail, .product-detail.content{
	font-size: 13px !important;
}

.product-detail .product-title{
	margin-left:0px !important;
}

.margin-top-20{
	margin-top: 20px;
}

.copy-source{
	margin-top: 10px !important;
	color: #808080;
}

.tbHeader{
	background: #f5f5f5;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

.tableBorder{
	border: solid 1px #ddd;
}

.tableBorder tr td:first-child{
	font-weight: bold;
	color: #365899;
}

.facebookShare, .googleShare, .postStatus{
	float: left;
	margin-right: 5px;
}

.postStatus .active{
	color: #008000;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}

.active{
	color: #008000;
	font-weight: bold;
}

.postStatus .inactive{
	color: #ff0000;
	text-decoration: line-through;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}

.inactive{
	color: #ff0000;
	text-decoration: line-through;
}

.table-icons{
	font-size: 14px !important;
}

.width100{
	width: 80px;
}

.login-panel{
	margin-top: 15px !important;
}

.login-panel legend{
	font-size: 18px;
	margin-bottom: 10px;
}

.social-login-buttons{
	margin-top: 10px;
	margin-left: 5px;
}

.social-login-buttons a{
	display: inline-block;
}
/* Shared */
.loginBtn {
	box-sizing: border-box;
	position: relative;
	/* width: 13em;  - apply for fixed size */
	margin: 0.2em;
	padding: 0 15px 0 46px;
	border: none;
	text-align: left;
	line-height: 34px;
	white-space: nowrap;
	border-radius: 0.2em;
	font-size: 16px;
	color: #FFF;
}
.loginBtn:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 100%;
}
.loginBtn:focus {
	outline: none;
}
.loginBtn:active {
	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
	background-color: #4C69BA;
	background-image: linear-gradient(#4C69BA, #3B55A0);
	/*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
	text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
	border-right: #364e92 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
	background-color: #5B7BD5;
	background-image: linear-gradient(#5B7BD5, #4864B1);
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}


/* Google */
.loginBtn--google {
	/*font-family: "Roboto", Roboto, arial, sans-serif;*/
	background: #DD4B39;
}
.loginBtn--google:before {
	border-right: #BB3F30 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
	background: #E74B37;
	text-decoration: none;
	color: #fff;
	cursor: pointer
}

.bordered-group {
	border: 1px solid #e7e7e7;
	padding: 5px;
}

.other-img {
	display: inline-block;
	position: relative;
	margin-bottom: 2px;
}

.required, .text-danger{
	color: #ff0000;
}

.tableBorder .form-control{
	max-width: 200px;
}

.m-navbar li.dropdown:hover{
	background-color: #3658DF;
}

/*Typeahead*/
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
	min-width: 100%;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;

}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}

.twitter-typeahead{
	width: 100%;
}
/*end Typeahead*/

.hint{
	color: #ccc;
}

.post-success{
	border: solid 1px #ccc;
	border-radius: 8px;
	padding: 10px;
	font-size: 14px;
}

.post-success .title{
	font-size: 18px !important;
	color: #008000;
	font-weight: bold;
}

.custom-input .form-control{
	border-radius: 0px;
	height: 30px;
	padding: 4px;
}

.guidline ul{
	margin-left: -15px;
}

.block-panel{
	border: solid 1px #e3e3e3;
	margin-bottom: 15px;
}

.block-panel .block-body{
	padding: 10px;
}

.block-panel .block-header {
	background: #f5f5f5;
	width: 100%;
	padding: 6px;
	font-weight: bold;
	color: #365899;
}

