@media (max-width: 767px) {
	.banner {
		background: none !important;
	}

	#carousel-custom {
		width: 100% !important;
	}

	#carousel-custom .carousel-inner img {
		height: auto !important;
	}
	.margin-left-10{
		margin-left: 0px;
		display: block;
	}

	.hasInfo #mapInfo{
		width: 100%;
		height: auto;
	}

	.hasInfo #map{
		width: 100%;
	}
	.nearme{
		height: auto;
		margin-top: 10px;
	}
	.nav-tabs>li.active>a{
		border: none !important;
		text-decoration: underline;
	}
	#mapTabs >li {
		display: inline-block;
		margin-bottom: -1px;
	}

	.pc-hide{
		display: block;
	}
}

@media (max-width: 120px) {
	.ipad-hide{
		display: none !important;
	}
}
