@media (max-width: 767px) {
	.banner {
		background: none !important;
	}

	#carousel-custom {
		width: 100% !important;
	}

	#carousel-custom .carousel-inner img {
		height: auto !important;
	}
}

@media (max-width: 120px) {
	.ipad-hide{
		display: none !important;
	}
}
