<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTP_HOST} ^www\.tindatdai\.com$
RewriteRule ^/?$ "http\:\/\/tindatdai\.com\/" [R=301,L]
</IfModule>
