.required{
	color: #FF0000;
	display: inline;
}

.admin-table .glyphicon-triangle-bottom:before {
	color: #ebebeb;
}

.admin-table th > span{
	float:left;
}
.admin-table th > i{
	float:right;
}

.admin-table th > i.active,
.admin-table th > i.active:before{
	color:#008000;
}

.txtView{
	width: 50px;
	padding: 0px 2px;
}

.txtView.process {
	border: solid 1px #FF0000;
}

.txtView.success {
	border: solid 1px #008000;
}

.admin-table th[data-action] > span {
	cursor: pointer;
}
.search-filter {
	margin: 10px 0px;
	background: #ebebeb;
	padding: 10px;
	border-radius: 8px;
}

.vip1:hover{
	border: solid 1px #e41b23;
}
.vip1, .vip1-color{
	color:#e41b23;
}
.vip2:hover{
	border: solid 1px #ff6600;
}
.vip2, .vip2-color{
	color: #ff6600;
}

.vip3:hover{
	border: solid 1px #ffaf03;
}
.vip3, .vip3-color{
	color: #ffaf03;
}
.vip5{
	color: #337ab7;
}
.success{
	color:#008000;
}

.paymentDelay{
	color: #e41b23;
}
